<h2>{{ companyDetails.title }}</h2>

<p>{{ companyNumberLabel }} <strong>{{ companyDetails.company_number }}</strong></p>

<dl>
  <dt>{{ companyAddressLabel }}</dt>
  <dd>{{ companyDetails.address_snippet }}</dd>

  <dt>{{ companyStatusLabel }}</dt>
  <dd>{{ companyDetails.company_status }}</dd>

  <dt>{{ companyTypeLabel }}</dt>
  <dd>{{ humaniseCompanyType(companyDetails.company_type) }}</dd>

  <dt>{{ incorporationDateLabel }}</dt>
  <dd>{{ humaniseDate(companyDetails.date_of_creation) }}</dd>

  <a href="/officers-list/{{companyNumber}}">List officers</a>
</dl>

<button (click)="goBack()">{{goBackButtonLabel}}</button>
