:host {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.company-search-logo {
  width: 10vw;
}

div {
  margin-left: 2vw;
}