:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form  {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form > * {
  font-size: larger;
  margin: 0.5rem;
}

button {
  background-color: #635362;
  border-radius: 0.5rem;
  color: white;
  margin-top: 2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

